.main {
	&__body {
		position: absolute;
		color: #FFFFFF;
		left: 378px;
		h1 {
			padding-top: 100px;
			width: 510px;
			font-size: 55px;
			line-height: 71px;
			font-style: normal;
			font-weight: normal;
		}
		p {
			width: 339px;
			font-size: 18px;
			line-height: 23px;
			margin-top: 29px;
		}
		button {
			width: 276px;
			height: 51px;
			left: 378px;
			background: #FFFFFF;
			font-weight: bold;
			font-size: 23px;
			line-height: 30px;
			color: #009AAE;
			margin-top: 29px;
		}
	}
	.ibg {
		height: 803px !important;
	}
}
@media (max-width: 1200px) {
	.main {
		&__body {
			left: 3rem;
			h1 {
				padding-top: 1rem;
			}
		}
	}
}
@media (max-width: 992px) {
	.main {
		&__body {
			h1, p {
				width: 100%;
			}
		}
	}
}
@media (max-width: 767px) {
	.main {
		&__body {
			h1 {
				padding-top: 1rem;
				font-size: 45px;
			}
			p {
				font-size: 16px;
			}
			button {
				width: 235px;
			}
		}
	}
}
